<html>


<title>SPARK</title>

<body>
    <h1>SPARK</h1>
    <form method="GET" action="/register">
        <table id='user_register_and_sign_in'>
            <td><input name="register" id="register" type="submit" value="Register"></td>
            {% csrf_token %}
        </table>
    </form>
    <input name="subject_text" id="user_select_subject" onkeyup="seach_subject()" placeholder="Enter your Subject that you need help!!!" />
    <table id='user_list_table'>
        <tr class="header">
            <th style="width:40%;">Subject</th>
            <th style="width:60%;">Name</th>
        </tr>
        {% for tutor in tutors %}
        <tr>
            <td>{{tutor.expert}}</td>
            <td>{{tutor.name}}</td>
            <td><button name={{tutor.name}} onclick='match_tutor()'>match</button></td>
        </tr>
        {% endfor %}
    </table>
    <h3 id='match_result'></h3>


    <script>
        function match_tutor() {
            let result = document.getElementById('match_result');
            result.innerText = 'match!!!'
        }

        function seach_subject() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("user_select_subject");
            filter = input.value.toUpperCase();
            table = document.getElementById("user_list_table");
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

    </script>

</body>

</html>