<html>

<script>
    function match_tutor(){
        let result = document.getElementById('match_result');
        result.innerText = 'match!!!'
    }
</script>
    <title>SPARK</title>
    <body>
        <h1>SPARK</h1>
        <form method="POST">
            <input name="subject_text" id="user_select_subject" placeholder="Enter your Subject that you need help!!!" />
            {% csrf_token %}
        </form>
        <table id='user_list_table'>
            {% for tutor in tutors %}
                <tr>
                    <td>Tutor: {{tutor.name}}</td>
                    <td>Expert: {{tutor.expert}}</td>
                    <td><button name={{tutor.name}} onclick='match_tutor()'>match</button></td>
                </tr>
            {% endfor %}
        </table>
        <h3 id='match_result'></h3>
    </body>
</html>
