{% load static %} {% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" href='{% static "css/fontawesome-stars.css" %}'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src='{% static "js/jquery.barrating.min.js" %}'></script>
    <script type="text/javascript">
        $(function() {
            $('#rating').barrating({
                theme: 'fontawesome-stars',
                onSelect: function(value, text, event) {
                    if (typeof(event) !== 'undefined') {
                        // rating was selected by a user
                        $('#rating-value').text(value)
                    } else {
                        // rating was selected programmatically
                        // by calling `set` method
                    }
                }
            });
        });
    </script>
    <style>
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 300px;
            margin: auto+10px;
            text-align: left;
            margin-bottom: 10px;
        }
        
        .notification {
            background-color: #555;
            color: white;
            text-decoration: none;
            padding: 15px 26px;
            position: relative;
            display: inline-block;
            border-radius: 2px;
        }
        
        .notification:hover {
            background: red;
        }
        
        .notification .badge {
            position: absolute;
            top: -10px;
            right: -10px;
            padding: 5px 10px;
            border-radius: 50%;
            background: red;
            color: white;
        }
        
        .checked {
            color: goldenrod;
        }
    </style>
    <title>Review</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">SPARK</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="notification" id="home" href="/">Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a id="profile_btn" class="notification" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a href="/match-result" class="notification">
                        <span>Request</span>
                        <span class="badge">{{amountRecieve}}</span>
                    </a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" id="help" href="/help">Help</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="logout" href="{% url 'logout' %}">Logout</a
              >
            </li>
          </ul>
        </form>
      </div>
    </nav>
    <br />
    <br />
    <br />
    <h2 id='review-header'>{{tutor.name}} 's Review</h2>
    
    <div id='review'>
    {% for review in reviews %}
    <div class='card'>
        <div>
            <span style="padding-left:5px;"><strong>{{review.reviewer.name}}</strong></span>
            {% for i in range %}
            {% if i <= review.rate %}
                <span class="fa fa-star checked"></span>
            {% else %}
                <span class="fa fa-star"></span>
            {% endif %}
            {% endfor %}
        </div>
        <span style="padding-left:5px;">{{review.comment}}</span>
    </div>
    {% endfor %}
    </div>
    <form style="padding-left:10px;" action="{{tutor.id}}" id="reviewform" name="reviewform" method="POST">
    {% csrf_token %}
    <div>
        <div style="margin-left: 10px;">
            <select id="rating" name="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
              <span class="title current-rating">
                  Your rating: <span id='rating-value' class="value">1</span>
                </span>
        </div>
        <span>
            {{form.as_p}}
        </span>
        <span>
        </span>
        <span>
            <button name="submit" id="submit" type="submit">Submit</button>
        </span>
    </div>
    </form>

    {% endblock %}
  </body>
</html>